body.posts aside.footer {
  margin: 0 auto;
  padding: 0 2%;

  h4 { float: left;}
  h6 { float: right;}

  @media (max-width: 768px) {
    text-align: center;
    h4 { float: none;}
    h6 { float: none;}
  }
}

