input {
  width: 100%;
  margin: 1em 0;
  border: none;
  padding: 0.5em;
}

input#post_title {  font-size: 2em; }

textarea {
  width: 100%;
  border: none;
}

textarea:focus { border: none; }

button {
  margin: 1em;
  padding: 1em;
  background: white;
  color: black;
  border: 1px solid black;
  clear: both;
  display: block;
}

button:hover {
  color: white;
  background: black;
}

label {
  display: inline-block;
  width: 15%;
}

#post_draft {
  appearance: none;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  background-color: white;
  padding: 0;
  margin: 0;
}

#post_draft:checked:after {
  content: '\2714';
}
