body.posts.index header.header {
  width: 80%;
  text-align: center;
  padding: 0 10%;
}

body.posts.show header.header {
  font-size: 60%;
  padding: 0 2%;

  @media (max-width: 768px) {
    text-align: center;
    padding: 0 10%;
    border-bottom: 1px dotted black;
  }
}
