@import "normalize.css/normalize.css";

body {
  font-family: sans-serif;
  font-size: 125%;
  line-height: 1.67em;

  @media (max-width: 768px) {
    font-size: 100%;
  }
}

button {
  margin: 1em;
  padding: 1em;
  background: white;
  color: black;
  border: 1px solid black;
  clear: both;
  display: block;
}

button:hover {
  color: white;
  background: black;
}

.publishing {
  font-size: 0.7em;
}

a {
  color: black;
  text-decoration: none;
}

.btn-right {
  float: right;
}
