@import "normalize.css/normalize.css";

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 30px;
}

body.posts.index h1 {
  width: 100%;
  text-align: center;
}

body.posts.index aside {
  width: 25vw;
  margin: 0 auto;
  text-align: center;
}
