li.admin-item {
  width: 100%;
  list-style: none;
  padding: 1em 0;

  a{
    color: black;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
  }
  a:hover{
    color: white;
    background: black;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      a {
        margin: 0;
        padding: 0;

        button { margin: 0;}
      }
    }
  }
}
